@media only screen and (max-width: 57em) {
  .faq {
    width: 95%;
  }
}

@media only screen and (max-width: 54em) {
  html {
    font-size: 57.5%;
  }

  .faq {
    padding: 1.6rem 0.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4.8rem;
    justify-items: center;

    overflow: visible;
  }

  .left {
    margin-top: -25.6rem;
  }
  .right {
    width: 90%;
    margin-top: -41.5rem;
    margin-left: 0;
    transform: translateY(50%);
  }

  .faq-title {
    position: static;
    text-align: center;
    margin-bottom: 1.6rem;
  }

  .bg-pattern-desktop {
    top: -40%;
    left: 50%;
    transform: translate(-50%, 25%);
    height: 28rem;
    position: absolute;
  }

  .illustration-woman-online-desktop {
    display: none;
  }

  .illustration-woman-online-mobile {
    display: block;
    margin-bottom: 2.4rem;
    width: 28rem;
  }

  .illustration-box-desktop {
    display: none;
  }
}
